body{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
     align-content: flex-start; */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: brown;
    height: 200px;
    flex-shrink: 0;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: black;

}
#box5{
    background-color: blueviolet;
}